@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html,
body {
    min-width: 320px;
    position: relative;
    width: 100%;
    color: #FFFFFF;
    font-size: 10px;
    scroll-behavior: smooth;

}

body {
    font-family: 'Montserrat', sans-serif;
}

li, a {
    list-style-type: none;
    text-decoration: none;
    color: inherit;
}

.wrapper {
    width: 100%;
    overflow: hidden;
    background-color: #302C42;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1312px;
    margin: 0 auto;
    position: relative;
    padding: 0px 20px 0 20px; 
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    overflow: hidden;
  }

/* --------------------------------------------------------Повторяющиеся блоки----------------------------------------------------------- */

.text-font {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2rem;
    min-width: 250px;
}

.title-font {
    font-weight: 700;
    font-size: 3.6rem;
    line-height: 4.4rem;
    text-transform: uppercase;
    }

.subtitle-font {
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.9rem;
    }


/* --------------------------------------------------------КНОПКА НА САЙТЕ----------------------------------------------------------- */
.button {
    font-family: inherit;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.5rem;
    background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
    border-radius: 40px;
    color: #343045;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    white-space:nowrap;
    padding: 16px 37px;
    justify-self:center;
}

@media (min-width: 575.99px) {
    .button:hover {
        background: linear-gradient(90deg, #f0e25c 0%, #ba6f3a 100%);
    }
    a:hover:not(.button) {
        color: #f0e25c;
    }
    .button:active {
        transform: translate(1%, 5%)
    }
}

/* --------------------------------------------------------КНОПКА ДЛЯ СЛАЙДЕРА----------------------------------------------------------- */
.button-hydra {
    width: 100px;
    height: 100px;
    background: rgba(14, 14, 14, 0.32);
    position: absolute;
    z-index: 1;
    display: grid;
    place-items: center;
    border-radius: 50%;
}

.button-hydra-nobckgr {
    position: absolute;
    z-index: 1;
}

.swip-button__arrow-wrapper {
    width: 70px;
    height: 70px;
    background: linear-gradient(267.61deg, #C0B7E8 -0.6%, #8176AF 98.31%);
    border-radius: 50%;
    display: grid;
    place-items: center;
}

.button__arrow-down {
    transform: rotate(-90deg);
}

.button__arrow-up {
    transform: rotate(90deg);
}

.button__arrow-right {
    transform: rotate(180deg);
}

.button__arrow-left {
    transform: rotate(0);
}


/* ------------------------------------------------------------HEADER----------------------------------------------------------- */
.header {
    display: grid;
    grid-template-columns: 3fr 7fr;
    width: 100%;
    align-items: center;
    padding-top: 4vmin;
    margin-bottom: 8vmin;
    gap: 30px;
}

.header__nav {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: space-between; 
}

.header__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 178px;
  }

#logo-icon {
    width: 101.99px;
    height: 102.93px;
    margin-right: 15px;
}

#logo-word {
    width: 76px;
    height: 46px;
}

.header__list {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
    column-gap: 41px;
    row-gap: 10px;
    grid-auto-flow: row;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.5rem;
    white-space:nowrap;
    margin-right: 5px;
    }

.header__buttons {
    display: flex;
    justify-content: space-between;
    gap: 3vmin;
}
.header__button-1 {
    border: 2px solid #FFFFFF;
    background: inherit;
    color: #FFFFFF;
}

.header__hamburger {
    display: none;
    background: inherit;
    border: none;
}


/* ----------------------------------------------------MAIN---------------------------------------------------------------------- */
.main {
    width: 100%;
    flex: 1 0 auto;
    margin-bottom: 10vmin;
}


/* --------------------------------------section promo-------------------------------------- */
.promo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8vmin;
}

.promo__text {
    flex-basis: 510px;
    align-self: center;
}

.promo__title {
    margin-bottom: 36px;
    font-weight: 700;
    font-size: 4.6rem;
    line-height: 5.6rem;
}

.promo__title-small {
    font-size: 4rem;
    line-height: 4.9rem;
}

.gradient {
    background: linear-gradient(91.57deg, #C0B7E8 -1.02%, #8176AF 36.25%);
    /* -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    /* background-clip: text; */
}

.promo__description {
    margin-bottom: 66px;
}

.promo__button {
    display: flex;
    align-items: center;
    gap: 40px;
}

.promo__img {
    width: 524px;
    height: 455px;
    background: rgba(0, 0, 0, 0.13);
    border-radius: 100px 100px 100px 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

.promo__img img {
    background: #A3A3A3;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px 100px 100px 240px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* --------------------------------------section contacts-------------------------------------- */
.contacts {
    margin-bottom: 7vmin;
}

.contacts-decstop {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, auto));
    row-gap: 30px;
    background: radial-gradient(50% 2900.76% at 50% 53.89%, rgba(58, 52, 86, 0.95) 0%, #211E2E 100%);
    box-shadow: 0px 4px 4px rgba(192, 183, 232, 0.01);
    border-radius: 90px;
    padding: 50px 0;
}

.contacts__info {
    display: grid;
    padding: 0 50px;
    grid-template-columns: auto 1fr;
    grid-column-gap: 20px;
}

.contacts__info:not(:last-child) {
    border-right: 2px solid #C0B7E854;
}

.contacts__info img {
    align-self: center;
}

.contacts__info dl {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contacts__title {
    margin-bottom: 10px;
}

.contacts__description {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.7rem;
}

.contacts-mobile {
    display: none;
}

.contacts__swiper {
    width: 100%;
    border-radius: 90px;
    background: radial-gradient(50% 2900.76% at 50% 53.89%, rgba(58, 52, 86, 0.95) 0%, #211E2E 100%);
    box-shadow: 0px 4px 4px rgba(192, 183, 232, 0.01);
    position: relative;
    padding: 0;
}
    
.contacts-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4vmin 9vmin;
}

.contacts-btn-next {
    top: 40%;
    right: 2%;
}

.contacts-btn-prev {
    top: 40%;
    left: 2%;
}

/* --------------------------------------section information-------------------------------------- */                               
.information__box {
    margin-bottom: 8vmin;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
                                
.information__title {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 16px;
    flex: 1 0 546px; 
    align-content: start;
}

.information__description {
    flex-basis: 650px;
}

.font300 {
    font-weight: 300;
}

/* --------------------------------- */

.information__about {
    display: flex;
    justify-content: space-between;
    margin-bottom: 111px;
    gap: 20px;

}

.information__about-img {
    flex-shrink: 0;
    justify-content: center;
    width: 524px;
    height: 557px;
    
}

.information__about-img img{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 240px 100px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    
}

.information__about_title {
    flex-basis: 630px;
    margin: auto 0;
}

.about__title {
    margin-bottom: 42px;
}

.about__text {
    margin-bottom: 28px;
}

/* --------------------------------------section cards-------------------------------------- */
.cards {
    margin-bottom: 9vmin;
}                                

.cards__decstop {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, auto));
    column-gap: 20px;
    row-gap: 20px;
    justify-items: center;
    align-items: center;
}

.card {
    width: 310px;
    background: radial-gradient(50% 50% at 50% 50%, #433D60 0%, #211E2E 100%);
    border-radius: 40px;
    padding: 23px 35px 40px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card__wrapper-img {
    Width: 219px;
    Height: 219px;
    background: rgba(14, 14, 14, 0.32);
    border-radius: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card__img {
    border-radius: 500px;
    Width: 190.92px;
    Height: 190.92px;
}

.card__title {
    padding: 20px 0;
    border-bottom: 1px solid #C0B7E8;
    margin-bottom: 22px;
}

.card__desc {
    margin-bottom: 35px;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.5rem;
}

/* --------------------------------- */

.cards-swiper {
    width: 100%;
    position: static;
    position: relative; 
}

.cards__slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards__btn-next {
    top: 40%;
    right: 5%;
}

.cards__btn-prev {
    top: 40%;
    left: 5%;
}

.cards__mobile {
    display: none;
}

/* --------------------------------------section technologies-------------------------------------- */
.technologies__banner  {
    position: relative;
    text-align: center;
    width: 100%;
    height: 303px;
    box-shadow: 0px 4px 4px rgba(192, 183, 232, 0.01);
    border-radius: 160px;
    background: url(../img/pexels-rodnae-productions-3.jpg) no-repeat top center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

.technologies__banner-btn {
    bottom: -15%;
    left: 50%;
    transform: translateX(-50%);
}

.technologies__banner-btn:active {
    transform: translate(-50%, 10%)
}

.swip-button__arrow-wrapper:hover {
    filter: brightness(90%);
}

/* --------------------------------- */

.technologies__firms {
    margin-bottom: 69px;
}

.technologies__firms-decstop {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, auto));
    column-gap: 20px;
    justify-items: center;
    align-items: center;
}

.technologies__firms__swiper {
    display: none;
}

.technologies__firms-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 0;
}

.technologies__firms-btn-next {
    display: none;
}

.technologies__firms-btn-prev {
    display: none;
}

/* --------------------------------------section stages-------------------------------------- */
.stages {
    margin-bottom: 112px;
}

.augment {
    display: flex;
    flex-direction: column;
    width: 240px;
    align-items: center;
}

.stages__augments-decstop {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, auto));
    column-gap: 3vw;
    row-gap: 25px;
    justify-items: center;
}

.augment__top-wrapper {
    width: 198px;
    height: 198px;
    background: rgba(13, 13, 13, 0.32);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    margin-bottom: 25px;
}

.augment__top-inner {
    width: 159px;
    height: 159px;
    background: linear-gradient(251.27deg, #C0B7E8 12.87%, #8176AF 89.33%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
}

.augment__count {
    font-weight: 700;
    font-size: 6.4rem;
    line-height: 7.8rem;
    color: #343045;
}

.augment__bottom-wrapper {
    display: flex;
    gap: 15.54px;
}

/* --------------------------------- */

.stages__augments-mobile {
    display: none;
}

.augment__slide {
    display: flex;
    justify-content: center;
    align-items: center;
}
.stages-btn-prev {
    bottom: 0;
    left: 5%;
}
.stages-btn-next {
    bottom: 0;
    right: 5%;

}

/* --------------------------------------section optin-------------------------------------- */    
.optin__form {
    background: radial-gradient(50% 50% at 50% 50%, #403A5F 0%, #211E2E 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
    padding: 5vmin 9vmin 7.5vmin 9vmin;
    text-align: center;
    display: grid;
    min-width: 700px;
}

.form__header {
    align-self: start;
}

.form__title {
    display: inline-block;
    padding: 30px;
    margin-bottom: 21px;
    border-bottom: 2px solid;
    border-image: conic-gradient(rgba(52, 48, 69, 1), rgba(192, 183, 232, 1), rgba(129, 118, 175, 1), rgba(52, 48, 69, 1)) 1;
}

.form__subtitle {
    margin-bottom: 5vmin;
}

.form__inputs {
    display: grid;
    grid-template-columns: repeat(auto-fill, 1fr);
    column-gap: 2vmin;
    row-gap: 3vmin;
    margin-bottom: 4vmin;
}

input::placeholder {
    color: #e0dede;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.7rem;
}

textarea {
    resize: none;
}

textarea::placeholder {
    color: #e0dede;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.7rem;
}

.form-registration {
    background: inherit;
    border: 2px solid #FFFFFF;
    border-radius: 40px;
    padding: 2vmin 3.5vmin;
    text-align: start;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.7rem;
    align-self: center;
}

.fullwidth {
    grid-column-start: span 2;
  }

/* ----------------------------------------------------FOOTER---------------------------------------------------------------------- */

.footer {
    padding-bottom: 59px;
    width: 100%;
    flex: 0 0 auto;
}

.footer__menu {
    display: flex;
    padding-bottom: 6vmin;
    justify-content: space-around;
    border-bottom: 2px solid;
    border-image: conic-gradient(rgba(52, 48, 69, 1), rgba(192, 183, 232, 1), rgba(129, 118, 175, 1), rgba(52, 48, 69, 1)) 1;
    margin-bottom: 4vmin;
    gap: 10px;
}

.footer__menu_logo img {
    width: 185px;
    height: 187px;
    object-fit: cover;
    object-position: center;
}

.column:not(:last-child) {
    border-right: 6px solid #C0B7E854;
}

.column {
    padding: 0 5.5vmin 0 0;
}

.column:last-child {
    padding: 0;
}

.footer__menu_icons {
    display: flex;
    gap: 20px;
    margin-bottom: 49px;
    margin-bottom: 4vmin;
    flex-wrap: wrap;
}

.footer__menu_text {
    display: block;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 4rem;
}

.footer__menu_title {
    margin-bottom: 39px;
    margin-bottom: 3vmin;
}


.copyright {
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.7rem;
    letter-spacing: 0.13em;
    text-align: center;
}